@charset "UTF-8";

.header {
  max-width: $articleWidth;
  display: block;
  margin: 0 auto 50px;
  text-align: center;
  h1 {
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: $siteTitleColor;
  }
}
