@charset "UTF-8";

.main-article {
  position: relative;
  max-width: $articleWidth;
  margin: 0 auto 50px;
  z-index: $main-article-z-index;
  %headding {
    position: relative;
    font-weight: normal;
    padding: 0 0 0 30px;
  }
  @mixin diamond($sx, $sy) {
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) scale($sx, $sy) rotateZ(45deg);
    background-color: #000;
  }
  h1 {
    @extend %headding;
    font-size: 3.0rem;
    color: #000;
    margin: 0 0 10px 0;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    @include media($bp640) {
      font-size: 2.5rem;
    }
  }
  h1::before {
    content: "";
    @include diamond(1.2, 2);
  }
  h2 {
    @extend %headding;
    font-size: 2.2rem;
    color: #000;
    margin: 0 0 10px 0;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    @include media($bp640) {
      font-size: 2.0rem;
    }
  }
  h2::before {
    content: "";
    @include diamond(0.8, 1.2);
  }
  p {
    font-size: 1.6rem;
    line-height: 2.0;
    margin: 0 0 20px;
    padding: 0px 20px;
    color: #000;
    @include media($bp640) {
      font-size: 1.4rem;
      line-height: 2.6rem;
    }
  }
  a {
    color: $winered;
    &:hover {
      color: $winered + #444444;
      border-bottom: 1px solid $winered + #444444;
    }
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}
