@charset "UTF-8";

ul.chapter-list {
  margin-top: 20px;
  padding: 0 15px;
  font-size: 0;
}

li.chapter {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin-right: 5%;
  margin-bottom: 20px;
  @include media($bp640) {
    width: 45%;
  }
  &:nth-child(3n) {
    margin-right: 0;
  }
}

a.chapter-link {
  display: block;
  margin-bottom: 20px;
  .chapter-title {
    .chapter-number {
      font-size: 2.2rem;
      color: $mainColor;
      transition-property: color;
      transition-duration: 100ms;
      transition-timing-function: ease-out;
      @include media($bp640) {
        font-size: 1.8rem;
      }
    }
    .sub-title {
      font-size: 1.6rem;
      color: $textColor;
    }
  }
  &:hover .chapter-number {
    color: $linkHoverColor;
  }
}

p.chapter-description {
  margin: 0;
  line-height: 1.6;
}
