<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <title><%= pageTitle %></title>
    <link href="https://fonts.googleapis.com/css?family=Elsie+Swash+Caps" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/libs/jquery.js"></script>
    <script src="/js/libs/p5.js"></script>
    <script src="/js/libs/p5.dom.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/header-sketch.js"></script>
</head>

<body>
    <div id="p5Header"></div>
    <header id="header">
        <span id="title-p5">P5</span>
        <span id="title-code">Code</span>
        <span id="title-school">School</span>
    </header>
