.footer {
  background-color: #fff;
  border-top: 3px solid #000;
  .inner {
    max-width: $articleWidth;
    margin: 0 auto;
    padding: 15px $sidePadding;
  }
  .copyright {
    font-size: 1.2rem;
    color: $main-gray;
  }
}
