.site-navigation {
  display: flex;
  li {
    margin-right: 20px;
    a {
      font-family: "Open Sans";
      font-size: 1.6rem;
      font-weight: 400;
      color: #fff;
      letter-spacing: 1px;
      transition: color 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
      &:hover {
        color: $main-pink;
        border: none;
      }
    }
  }
  li:last-child {
    margin-right: 0;
  }
}

@media (--sp) {

.site-navigation {
  justify-content: center;
}

}
