<!DOCTYPE html>
<html lang="ja">

<% include ../common/_head %>

<body class="tutorial-list">

<% include ../common/_header %>
<% include ../common/_main-navigation %>

<main class="main-article">
  <h1>Processing チュートリアル</h1>
  <p>
    Processingチュートリアルは全くのプログラミング未経験からProcessingを学べるチュートリアルです。
    このチュートリアルで用いるサンプルプログラムは全て以下からダウンロードできます。
    サンプルプログラムは現在の最新VersionのProcessingに対応しています。<br>
    <a href="https://github.com/p5aholic/p5codeschool/blob/master/samples/" target="_blank">サンプルプログラム</a>
  </p>
  <h2>Processing 基礎</h2>
  <ul class="chapter-list clearfix">
    <% for (var i = 0; i < data.tutorials.length; i++) { %>
    <li class="chapter">
      <a href="chapter<%= data.tutorials[i].number %>" class="chapter-link">
        <h3 class="chapter-title">
          <span class="chapter-number">Chapter <%= data.tutorials[i].number %></span><br>
          <span class="sub-title"><%= data.tutorials[i].subTitle %></span>
        </h3>
      </a>
      <p class="chapter-description"><%= data.tutorials[i].description %></p>
    </li>
    <% } %>
  </ul>
</main>

<% include ../common/_footer %>

</body>
</html>
