.sectionNavi {
  position: fixed;
  top: 140px;
  left: 100px;
  &__title {
    font-size: 1.8rem;
    font-weight: 200;
    letter-spacing: 1px;
  }
  %btn {
    display: block;
    width: 0;
    height: 0;
    cursor: pointer;
    touch-action: manipulation;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  &__prevBtn {
    @extend %btn;
    top: -40px;
    border-top: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 16px solid #000000;
    border-left: 12px solid transparent;
    transition: 0.4s border-bottom-color cubic-bezier(0.215, 0.61, 0.355, 1);
    &:hover {
      border-bottom-color: #003aaa;
    }
  }
  &__nextBtn {
    @extend %btn;
    bottom: -40px;
    border-top: 16px solid #000000;
    border-right: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid transparent;
    transition: 0.4s border-top-color cubic-bezier(0.215, 0.61, 0.355, 1);
    &:hover {
      border-top-color: #003aaa;
    }
  }
}
