@charset "UTF-8";

.chapters {
  margin-top: 20px;
  padding: 0 15px;
  font-size: 0;
  &__item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 5%;
    margin-bottom: 20px;
    @include lt-640 {
      width: 45%;
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  &__link {
    display: block;
    margin-bottom: 15px;
    &:hover {
      border-bottom: none;
    }
  }
  &__title {
    font-weight: 200;
  }
  &__number {
    display: block;
    margin-bottom: 5px;
    font-size: 2.2rem;
    color: $main-blue;
    transition: color 100ms ease-out;
    @include lt-640 {
      font-size: 1.8rem;
    }
  }
  &__subTitle {
    font-size: 1.6rem;
    color: $main-gray;
  }
  &__description {
    line-height: 1.4;
  }
}
