<!DOCTYPE html>
<html lang="ja">

<% include common/_head %>
<body>
<div id="BgCanvasContainer"></div>
<div class="pageContainer">

<% include common/_header %>

<main class="mainContents">
  <%- htmlData %>
</main>

<% include common/_footer %>

</div>
<% include common/_scripts %>
</body>
</html>
