<!DOCTYPE html>
<html lang="ja">

<% include common/_head %>
<body>
<div id="BgCanvasContainer"></div>
<div class="pageContainer">

<% include common/_header %>

<main class="mainContents" id="contentsWrapper">
  <%
  var prevChap = -1, nextChap = -1;
  if (chapterNum) {
    if (data.tutorials[chapterNum].number-1 >= 0) {
      prevChap = data.tutorials[chapterNum].number-1;
    }
    if (data.tutorials[chapterNum].number+1 <= 15) {
      nextChap = data.tutorials[chapterNum].number+1;
    }
  }
  %>
  <div class="article-container" data-prev="<%= prevChap %>" data-next="<%= nextChap %>">
    <%- htmlData %>
  </div>
  <% if (chapterNum) { %>
    <a href="" class="chapter-link chapter-link-prev" data-type="prev"></a>
    <a href="" class="chapter-link chapter-link-next" data-type="next"></a>
  <% } %>
</main>

<% include common/_footer %>

</div>
<% include common/_scripts %>
</body>
</html>
