<!DOCTYPE html>
<html lang="ja">

<% include common/_head %>
<body>
<div id="BgCanvasContainer"></div>
<div class="pageContainer">

<% include common/_header %>

<div class="sectionNavi">
  <h2 class="sectionNavi__title">Section 01</h2>
  <div class="sectionNavi__prevBtn"></div>
  <div class="sectionNavi__nextBtn"></div>
</div>

<main class="mainContents">
  <%- htmlData %>
</main>

<% include common/_footer %>

</div>
<% include common/_scripts %>
</body>
</html>
