<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title><%= pageTitle %></title>

  <meta name="keywords" content="Processing,クリエイティブコーディング">
  <meta name="description" content="ゼロから学べるProcessing入門サイト">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/js/libs/p5.js"></script>
  <script src="/js/libs/p5.dom.js"></script>
  <script src="/js/main.js"></script>
</head>
