// size
$navigationWidth: 180px;
$articleWidth: 900px;

// color
$main-gray: #161616;
$main-blue: #287bcd;
$main-pink: #cd0055;

//  z-index
$z: header, main-navigation, navi-btn;

// break point
$bp640: 640px;
$bp960: 960px;
