<!DOCTYPE html>
<html lang="ja">

<% include common/_head %>

<body class="top">

<% include common/_header %>
<% include common/_main-navigation %>

<main class="main-article">
  <%- htmlData %>
</main>

<% include common/_footer %>

</body>
</html>
