.header {
  max-width: $articleWidth;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  &--site-title {
    font-size: 100px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: $siteTitleColor;
    transition: transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .is-scroll &--site-title {
    transform: scale3d(0.6, 0.6, 1);
  }
  @include lt-960 {
    h1 {
      font-size: 60px;
    }
  }
  @include lt-640 {
    h1 {
      font-size: 36px;
    }
  }
}
