.main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: $navigationWidth;
  height: 100%;
  background-color: #fff;
  border-right: 4px solid $main-gray;
  font-family: "Open Sans", sans-serif;
  z-index: index($z, main-navigation);
  transform: translate3d(-$navigationWidth, 0, 0);
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  .navi-open & {
    transform: translate3d(0, 0, 0);
  }
  .inner {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .view-all {
    display: block;
    margin: 70px 0 20px;
    padding: 10px 0;
    border-radius: 2px;
    font-size: 1.8rem;
    font-weight: bold;
    color: $main-gray;
    text-align: center;
    letter-spacing: 1px;
    background-color: white;
    transition-property: color, background-color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    &:hover {
      color: #fff;
      background-color: $main-blue;
    }
  }
  ul {
    width: 120px;
    margin: 0 auto;
    font-size: 0;
    li {
      position: relative;
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-bottom: 22px;
      &:nth-child(3n+2) {
        top: 31px;
      }
      &:nth-child(3n) {
        top: 62px;
      }
      a {
        position: relative;
        display: block;
        color: $main-gray;
        font-size: 2rem;
        text-align: center;
        line-height: 40px;
        .border-inner {
          position: absolute;
          top: 0;
          left: 0;
          width: 40px;
          height: 40px;
          background-color: #fff;
          border: 3px solid $main-gray;
          transform: rotate(45deg);
          transition-property: background-color, border-color;
          transition-duration: 300ms;
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        .number {
          position: relative;
          color: #000;
        }
      }
      &.current, &:hover {
        a {
          .border-inner {
            background-color: $main-blue;
            border-color: $main-blue;
          }
          .number {
            color: #fff;
          }
        }
      }
    }
  }
}
