.main-article {
  max-width: $articleWidth;
  margin: 0 auto 50px;
  padding: 0 40px;
  %headding {
    position: relative;
    margin: 0 0 20px 0;
    padding-left: 30px;
  }
  > h1 {
    @extend %headding;
    font-size: 3.0rem;
    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 5px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-color: #0080ff;
    }
    @include media($bp640) {
      font-size: 2.5rem;
    }
  }
  > h2 {
    @extend %headding;
    font-size: 2.2rem;
    @include media($bp640) {
      font-size: 2.0rem;
    }
    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 5px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-color: #ff006a;
    }
  }
  > p {
    margin: 0 0 20px;
    a {
      color: $linkColor;
      &:hover {
        color: $linkHoverColor;
        border-bottom: 1px solid $linkHoverColor;
      }
    }
  }
  @include lt-640 {
    padding: 0 20px;
  };
}
