code.code-fragment {
  display: block;
  font-family: "Source Code Pro";
  font-weight: bold;
  line-height: 1.5;
  color: #398fe6;
  white-space: pre-wrap;
}

pre {
  margin: 20px 0;
  padding: 10px;
  overflow-x: auto;
  border: 1px solid #ccc;
  code.lang-processing {
    font-family: "Source Code Pro";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.4;
    @include lt-640 {
      font-size: 1.4rem;
    }
  }
}

iframe.sample-sketch {
  display: block;
  width: 100%;
  height: 375px;
  border: 1px solid #ccc;
}

.func-list {
  margin: 0 0 15px;
  dt {
    margin: 0 0 5px;
    font-size: 1.6rem;
    font-family: "Source Code Pro";
    @include lt-640 {
      font-size: 1.4rem;
    }
    a {
      color: $main-pink;
      &:hover {
        color: $main-pink;
        border-bottom: 2px solid $main-pink;
      }
    }
  }
  dd {
    margin: 0 0 15px;
    font-size: 1.6rem;
    text-align: left;
    @include lt-640 {
      font-size: 1.4rem;
    }
  }
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}
