$navigationWidth: 180px;
$articleWidth: 960px;

// global
$mainColor: #2371b5;
$textColor: #303030;
$linkColor: #b50057;
$linkHoverColor: #ff007b;

// site title
$siteTitleColor: #303030;

// main-navigation
$navBorderColor: $mainColor;
$navTextColor: $textColor;
$navTextHoverColor: #1275cc;

//  z-index
$z: main-navigation, header-tools;

$bp640: 640px;
$bp960: 960px;

@mixin media($media-width) {
  @if $media-width == $bp640 {
    @media(max-width: $bp640) {
      @content;
    }
  }

  @if $media-width == $bp960 {
    @media(max-width: $bp960) {
      @content;
    }
  }
}

@mixin lt-960 {
  @media(max-width: 960px) {
    @content;
  }
}
@mixin lt-640 {
  @media(max-width: 640px) {
    @content;
  }
}
