.chapter-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  .item {
    display: block;
    width: 30%;
    margin-bottom: 30px;
    @include mq-small {
      width: 46%;
      margin-bottom: 10px;
    }
  }
  .title {
    position: relative;
    display: block;
    background-color: $main-gray;
    border-radius: 16px;
    box-shadow: 2px 2px 3px 0px #666;
    margin-bottom: 15px;
    a {
      display: block;
      padding: 5px 0 6px 10px;
      font-size: 2.2rem;
      font-weight: 200;
      color: #fff;
      letter-spacing: 1px;
      transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
      &:hover {
        color: $main-pink;
        text-decoration: none;
        border: none;
      }
      @include mq-small {
        font-size: 1.8rem;
      }
    }
    &:after {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      top: 12px;
      right: 120px;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      transform: rotateZ(45deg);
      transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
      @include mq-small {
        top: 10px;
        right: 20px;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
      }
    }
    &:hover:after {
      border-color: $main-pink;
      transform: translateX(10px) rotateZ(45deg);
    }
  }
  .sub-title {
    line-height: 1.4;
    padding: 0 10px;
    margin-bottom: 8px;
    @include mq-small {
      padding: 0 5px;
    }
  }
  .description {
    line-height: 1.4;
    padding: 0 10px;
    @include mq-small {
      padding: 0 5px;
    }
  }
}