.header {
  position: fixed;
  width: 100%;
  padding: 10px 0;
  background-color: #fff;
  border-bottom: 3px solid #000;
  z-index: index($z, header);
  .inner {
    display: flex;
    justify-content: space-between;
    max-width: $articleWidth;
    margin: 0 auto;
  }
  &__siteTitle {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 700;
    a {
      display: block;
      color: $main-gray;
    }
  }
}

@include lt-640 {
  .header {
    &__siteTitle {
      font-size: 28px;
    }
  }
}
