.code-fragment {
  display: block;
  font-family: "Source Code Pro";
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.4;
  color: #ff5016;
  white-space: pre-wrap;
}

@media (--sp) {

.code-fragment {
  font-size: 1.4rem;
}

}
