<header class="header">
  <div class="inner">
    <h1 class="header__siteTitle">
      <a href="/" class="no-transition">p5 code school</a>
    </h1>
    
    <nav>
      <ul class="mainNavigation">
        <li>
          <a href="/tutorial/" class="no-transition">Tutorials</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
