<nav class="main-navigation">
    <div class="page-navi">
        <h3 class="nav-title">Contents</h3>
        <ul>
            <li>
                <a href="/index.html">Top</a>
            </li>
            <li>
                <a href="/tutorial/index.html">Tutorials</a>
            </li>
            <% if (chapterLink.prev != "") { %>
            <li>
                <a href="/tutorial/chapter<%= chapterLink.prev %>">← Chapter</a>
            </li>
            <% } %>
            <% if (chapterLink.next != "") { %>
            <li>
                <a href="/tutorial/chapter<%= chapterLink.next %>">Chapter →</a>
            </li>
            <% } %>
        </ul>
    </div>

    <div class="admin">
        <h3 class="nav-title">Admin</h3>
        <ul>
            <li>
                <a href="https://twitter.com/P5Aholic" target="_blank">Twitter</a>
            </li>
            <li>
                <a href="http://p5aholic.hatenablog.com/" target="_blank">Blog</a>
            </li>
        </ul>
    </div>

    <div class="links">
        <h3 class="nav-title">Links</h3>
        <ul>
            <li>
                <a href="https://github.com/p5aholic/p5codeschool" target="_blank">Github</a>
            </li>
        </ul>
    </div>
</nav>
