@charset "UTF-8";

.main-article {
  position: relative;
  max-width: $articleWidth;
  margin: 0 auto 50px;
  z-index: $main-article-z-index;
  %headding {
    position: relative;
    font-weight: normal;
    margin: 0 0 20px 0;
    padding: 5px 0 5px 30px;
    border-top: 2px solid $textColor;
    border-bottom: 2px solid $textColor;
  }
  > h1 {
    @extend %headding;
    font-size: 3.0rem;
    @include media($bp640) {
      font-size: 2.5rem;
    }
  }
  > h1::before {
    content: "";
    @include diamond(1.2, 2, 0%, 50%, $mainColor);
  }
  > h2 {
    @extend %headding;
    font-size: 2.2rem;
    @include media($bp640) {
      font-size: 2.0rem;
    }
  }
  > h2::before {
    content: "";
    @include diamond(0.8, 1.2, 0%, 50%, $mainColor);
  }
  > p {
    margin: 0 0 20px;
    a {
      color: $linkColor;
      &:hover {
        color: $linkHoverColor;
        border-bottom: 1px solid $linkHoverColor;
      }
    }
  }
  > img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}
