@charset "UTF-8";

.main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: $navigationWidth;
  height: 100%;
  background-color: #fff;
  padding: 60px 20px 0px;
  border-left: 20px solid $navBorderColor;
  box-shadow: 5px 0px 5px 0px #a6a6a6;
  font-family: 'Open Sans', sans-serif;
  z-index: $main-nav-z-index;
  .nav-title {
    position: relative;
    margin: 0 0 10px;
    padding: 0 0 0 20px;
    font-size: 2.6rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: $navTextColor;
    border-bottom: 1px solid $navTextColor;
  }
  .nav-title::before {
    content: "";
    @include diamond(0.8, 1.2, 0%, 50%, $mainColor);
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  a {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3.0rem;
    text-decoration: none;
    letter-spacing: 1px;
    color: $navTextColor;
    border-bottom: 1px solid #fff;
    transition-property: color border-bottom-color;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
    &:hover {
      color: $navTextHoverColor;
      border-bottom-color: $navTextHoverColor;
    }
  }
  .page-navi {
    margin-bottom: 20px;
  }
  .admin {
    margin-bottom: 20px;
  }
}
