@charset "UTF-8";

.navi-btn {
  position: fixed;
  top: 20px;
  left: 30px;
  width: 30px;
  height: 18px;
  z-index: $navi-btn-z-index;
  cursor: pointer;

  .line {
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: $mainColor;

    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .line1 {
    top: 0;
  }
  .line2 {
    top: 8px;
  }
  .line3 {
    top: 16px;
  }
}

.navi-btn.hover {
  .line1 {
    transform: translate3d(0, -3px, 0);
  }
  .line3 {
    transform: translate3d(0, 3px, 0);
  }
}
