@charset "UTF-8";

code.code-fragment {
  display: block;
  font-family: "Source Code Pro";
  font-weight: bold;
  line-height: 1.5;
  color: #398fe6;
  white-space: pre-wrap;
}

pre {
  margin: 20px 0;
  padding: 15px;
  border: 1px solid #aaa;
  overflow-x: auto;
  code.lang-processing {
    font-family: "Source Code Pro";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    @include media($bp640) {
      font-size: 1.4rem;
    }
  }
}

.sample-sketch {
  width: 100%;
  height: 375px;
  border: 1px solid #aaa;
}

.func-list {
  margin: 15px 0;
  dt {
    float: left;
    width: 50%;
    font-family: "Source Code Pro";
    font-size: 1.6rem;
    padding-right: 15px;
    @include media($bp640) {
      font-size: 1.4rem;
    }
    a {
      color: $linkColor;
      &:hover {
        color: $linkHoverColor;
        border-bottom: 2px dotted $linkHoverColor;
      }
    }
  }
  dd {
    float: left;
    width: 50%;
    margin: 0;
    font-size: 1.6rem;
    text-align: left;
    padding-bottom: 15px;
    @include media($bp640) {
      font-size: 1.4rem;
    }
  }
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}
