@charset "UTF-8";

$navigationWidth: 200px;
$articleWidth: 850px;

// global
$mainColor: #2371b5;
$textColor: #303030;
$linkColor: #b50057;
$linkHoverColor: #ff007b;

// site title
$siteTitleColor: #303030;

// main-navigation
$navBorderColor: $mainColor;
$navTextColor: $textColor;
$navTextHoverColor: #1275cc;

//  z-index
$main-nav-z-index: 20;
$main-article-z-index: 15;

$bp640: 640px;
$bp960: 960px;
@mixin media($media-width) {
  @if $media-width == $bp640 {
    @media(max-width: $bp640) {
      @content;
    }
  }
}


@mixin diamond($sx, $sy, $xPer, $yPer, $color: #000) {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  left: $xPer;
  top: $yPer;
  transform: translate(-50%, -50%) scale($sx, $sy) rotateZ(45deg);
  background-color: $color;
}
